<!DOCTYPE html>
<html>
<head>
    <title>WppConnect App</title>
</head>
<body>
    <h2>QR Code:</h2>
    <img src="http://localhost:21465/api/qrcode" width="300" alt="QRCode" />

    <hr>
    <h2>Enviar mensagem</h2>
    <form method="post" action="/send">
        <label>Telefone:</label><br>
        <input type="text" name="number" required><br><br>
        <label>Mensagem:</label><br>
        <textarea name="message" required></textarea><br><br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>
